<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../fragmente/head %>
</head>
<body class="container">

<header>
    <% include ../fragmente/header %>
</header>

<main>
    <div class="afisaj">
        <h1>Pagina principala</h1>
        <p>Salut! Sunt Ionel si imi plac stelutele si prajiturile.<br/>
		<img src="http://irinaciocan.ro/imagini/nenea_html.png" alt="Ionel"/>
		</p>
    </div>
</main>

<footer>
    <% include ../fragmente/footer %>
</footer>

</body>
</html>