<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../fragmente/head %>
</head>
<body class="container">

<header>
    <% include ../fragmente/header %>
</header>

<main>
    <div class="afisaj">
        <h1>Pisic!!!!</h1>
        <p>
		<img src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png" alt="primul pisoi"/>
		<img src="imagini/pisoi1.jpg" alt="al doilea pisoi"/>
		<img src="imagini/pisoi2.jpg" alt="al treilea pisoi"/>
		</p>
    </div>
</main>

<footer>
    <% include ../fragmente/footer %>
</footer>

</body>
</html>