<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../fragmente/head %>
</head>
<body class="container">

<header>
    <% include ../fragmente/header %>
</header>

<main>
    <div class="afisaj">
        <h1>Prajituri!!!!</h1>
        <p>
		<img src="http://irinaciocan.ro/imagini/prajitura1.png" alt="prajitura"/>
		<img src="http://irinaciocan.ro/imagini/prajitura2.png" alt="prajitura"/>
		<img src="http://irinaciocan.ro/imagini/prajitura3.png" alt="prajitura"/>
		<img src="http://irinaciocan.ro/imagini/prajitura4.png" alt="prajitura"/>
		</p>
    </div>
</main>

<footer>
    <% include ../fragmente/footer %>
</footer>

</body>
</html>