<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Andromeda - Control Point</title>
		<meta charset="UTF-8">
	    <meta name="description" content="Pagina cu modul de joc Control Point">
        <meta name="keywords" content="Laser,Tag,mod,joc,jucator,Control,Point">
	    <meta name="author" content="Alen">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
		<link rel="shortcut icon" href="imagini/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="fisiere_css/general.css">
		<link rel="stylesheet" type="text/css" href="fisiere_css/moduri_de_joc.css">
		
	</head>
	
	<body>
	
		<%- include("../fragmente/header") %>
	
		<div class="container">
			
			<%- include ("../fragmente/nav") %>
				<section>
					<h1>Andromeda</h1>
					<h2>Laser Tag Arena</h2>
						<section id="primul" class="container2">
						<h2>Control Point</h2>
							<div>
									<div id="atentie">
										<p>Atentie!!</p>
									</div>
								<p>Acest mod de joc se joaca in echipe.</p>
								<p><b>Control Point</b> este modul de joc in care trebuie sa detii cat mai multe teritorii si sa le aperi de atacatori</p>
								<p>Stai langa noile noastre Chimera Bases pentru a primi cat mai multe puncte.</p>
								<p>Punctele sunt acordate in functie de kill-uri, death-uri, accuracy si detinerea de teritorii.</p>
								
								<img src="imagini/ControlPoint.jpg" title="Imagine care arata cum functioneaza modul de joc Control Point" alt="Imagine care arata cum functioneaza modul de joc Control Point">
								<p> Reguli: </p>
								<ul>
									<li>Doar o echipa poate detine un teritoriu, deci jucatorii adversi de pe teritoriu trebuiesc eliminati inainte de capturarea teritoriului.</li>
									<li>Daca o echipa detine toate teritoriile, primeste un bonus.</li>
									<li>Fara Friendly Fire</li>
									<li>Echipa cu cele mai multe puncte castiga.</li>
									<li>Jucatorul cu cele mai multe puncte este catalogat drept MVP ( Most valuable player ).</li>
								</ul>
							</div>
					</section>
				</section>
		</div>
		<%- include ("../fragmente/footer") %>
	</body>
</html>