<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Andromeda - Laser Tag Arena</title>
		<meta charset="UTF-8">
	    <meta name="description" content="Pagina ce contine informatii generale despre firma de Laser Tag">
        <meta name="keywords" content="Laser,Tag,Echipamente,arena,joc,echipa">
	    <meta name="author" content="Alen">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
		<link rel="shortcut icon" href="./imagini/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="./fisiere_css/general.css">
	</head>
	
	<body>
	
		<%- include("../fragmente/header") %>
	
		<div class="container">
			
			<%- include ("../fragmente/nav") %>
			<section>
				<h1>Andromeda</h1>
				<h2>Laser Tag Arena</h2>
				<section id="primul" class="container2">
					<h2>Ce este Laser Tag?</h2>
					<div>
						<p><b>Laser tag</b> este jocul care aduce familia, prietenii, colegii impreuna.
						Cu tehnologii high-tech compuse dintr-o armura si un pistol cu laser de mare acuratete, 
						oponentul tau nu are nicio sansa, iar tu iti vei putea dovedi skill-ul in lupta. </p>
						<p>In acest joc competitiv de pana la 4 echipe va veti putea distruge adversarii pe parcursul rundelor de 10,15 sau 20 de minute 
							in diferite <b>moduri de joc</b>, folosindu-va de armele, dar si de obstacolele ( butoaie, masini, rampe ) puse la dispozitie de catre echipa noastra.</p>
						<img src="imagini/poza1.jpg" title="persoane care joaca laser tag" alt="persoane care joaca laser tag">
					</div>
				</section>
				<section class="container2">
					<h2>Pentru cine?</h2>	
					<div>				
						<p>Laser Tag este atat pentru copii, cat si pentru copilul din tine.
						Daca ai un spirit competitiv si vrei sa te distrezi, simuland luptele de tip <i>commando</i>, 
						esti deja recrutat! Tot ce iti mai trebuie este o echipa cu care sa ajungi la obiectiv.</p>
						<p>Organizam si petreceri pentru copii, astfel, cand tu vii cu tortul, noi venim cu distractia!</p>
						<p>De asemenea echipa noastra organizeaza si team-building-uri in care iti poti aduce colegii pentru a intari mai bine legaturile de la birou.</p>
						<img src="imagini/poza2.jpg" title="familie care joaca laser tag" alt="familie care joaca laser tag">
					</div>
				</section>
				<section class="container2">				
					<h2>De ce noi?</h2>
					<div>
						<p>Arena noastra va pune la dispozitie <strong>echipamentele de ultima generatie (high-tech),
						arena noastra special amenajata ce contine obstacole (butoaie,masini,cauciucuri,etc.), precum si un mini-bar unde se poate face consumatie.</strong></p>
						<p>Echipa noastra organizeaza evenimente ce contin noi moduri de joc precum Gun Game, 
						One in the chamber, si multe altele, precum si premii si oferte, deci ai face bine sa frecventezi site-ul.</p>
						<p>Echipa noastra este prietenoasa si te asteapta sa vii si tu sa te distrezi impreuna cu noi in arena noastra. Noi vom avea grija de comfortul tau.</p>
						
						<div>
						<img src="imagini/poza3.jpg" title="familie care joaca laser tag" alt="familie care joaca laser tag">
						</div>
						
						<div>
						<img src="imagini/poza4.jpg" title="un grup de adolescenti care joaca laser tag" alt="un grup de adolescenti care joaca laser tag">
						</div>
					</div>
				</section>
				<section class="container2">				
					<h2>Echipamente</h2>
					<div id="Echipamente">
						<p>Echipamentele puse la dispozitia dumneavoastra sunt urmatoarele:</p>
						<ul>
							<li>S-7 Laser Tag Gun</li>
							<li>Chimera Base</li>
							<li>Chimera Laser Tag Target</li>
							<li>Helios PRO</li>
						</ul>
						
						<div>
						<img src="imagini/poza_echipament1.jpeg" title="echipament laser tag" alt="echipament laser tag">
						</div>
						
						<div>
						<img src="imagini/poza_echipament2.png" title="echipament laser tag" alt="echipament laser tag">
						</div>
					</div>
				</section>
			</section>
		</div>
		<%- include ("../fragmente/footer") %>
	</body>
</html>