<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Andromeda - Tarife</title>
		<meta charset="UTF-8">
	    <meta name="description" content="Pagina cu tarifele pentru fiecare joc, conform duratei jocului">
        <meta name="keywords" content="Laser,Tag,tarife,lei,minute,bar">
	    <meta name="author" content="Alen">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
		<link rel="shortcut icon" href="imagini/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="fisiere_css/general.css">
		<link rel="stylesheet" type="text/css" href="fisiere_css/tarife.css">
		
	</head>
	
	<body>
	
		<%- include("../fragmente/header") %>
	
		<div class="container">
			
			<%- include ("../fragmente/nav") %>
				<section>
					<h1>Andromeda</h1>
					<h2>Laser Tag Arena</h2>
						<section id="primul" class="container2">
						<h2>Tarife</h2>
							<div>
									<p>Tarife pentru intrarile la joc:</p>
									<table>
										<caption>Tarife</caption>
										<thead>
											<tr>
												<th></th>
												<th>Team Deathmatch</th>
												<th>Free-for-All</th>
												<th>Capture The Flag</th>
												<th>Control Point</th>
											</tr>
										</thead>
										
										<tbody>
											<tr>
												<td>10 minute</td>
												<td colspan="2">8 lei</td>
												<td>12 lei</td>
												<td>10 lei</td>
											</tr>
											
											<tr>
												<td>15 minute</td>
												<td>12 lei</td>
												<td>13 lei</td>
												<td colspan="2">16 lei</td>
											</tr>
											
											<tr>
												<td>20 minute</td>
												<td>15 lei</td>
												<td>17 lei</td>
												<td>19 lei</td>
												<td>20 lei</td>
											</tr>
										</tbody>
									</table>
									<p>Atentie!!</p>
									<p>Toate achiziitile se fac la bar. Nu este permisa intrarea cu bauturi sau mancare din afara incintei.</p>
							</div>
					</section>
				</section>
		</div>
		<%- include ("../fragmente/footer") %>
	</body>
</html>