<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../fragmente/head %>
</head>
<body class="container">

<header>
    <% include ../fragmente/header %>
</header>

<main>
    <div class="afisaj">
        <h1>Stelute!!!!</h1>
        <p>
		<img src="http://irinaciocan.ro/imagini/stea1.png" alt="stea"/>
		<img src="http://irinaciocan.ro/imagini/stea2.png" alt="stea"/>
		<img src="http://irinaciocan.ro/imagini/stea3.png" alt="stea"/>
		<img src="http://irinaciocan.ro/imagini/stea4.png" alt="stea"/>
		</p>
    </div>
</main>

<footer>
    <% include ../fragmente/footer %>
</footer>

</body>
</html>