<nav>
				<ul>
				<li id="prim"><a href="/">Acasa</a></li>
				<li id="submeniu">
					<ul>
						<li id="mod">Moduri de joc</li>
						<li><a href="Team_Deathmatch">Team Deathmatch</a></li>
						<li><a href="Free_for_All">Free-for-All</a></li>
						<li><a href="Capture_The_Flag">Capture The Flag</a></li>
						<li><a href="Control_Point">Control Point</a></li>
					</ul>
				</li>
				<li><a href="Tarife">Tarife</a></li>
				<li><a href="Mini_Game">Mini Game</a></li>
				<li id="ultim"><a href="Contact">Contact</a></li>
				</ul>
			</nav>