<!-- views/partials/header.ejs -->

<nav>
	<ul class="menu">

            <li><a href="/">Home</a></li>
            <li><a href="/stelute">Stelute</a></li>
            <li><a href="/prajituri">Prajituri</a></li>
            <li><a href="/pisici">Pisici</a></li>
    </ul>



</nav>